<!--<footer class="bg-dark text-white">-->
<!--    <p>Copyright &copy; 2023 - Ledger</p>-->
<!--    <div class="icons mt-2 text-center">-->
<!--        <a class="icon-github col-md-4 mx-2 text-dark" href="https://github.com/marl-Am" target="_blank"-->
<!--           rel="noreferrer noopener"><i class="fa-brands fa-square-github fa-5x"></i></a>-->
<!--        <a class="icon-envelope col-md-4 mx-2 text-dark" href="mailto:mamedee001@gmail.com" target="_blank"-->
<!--           rel="noreferrer noopener"><i class="fa-solid fa-envelope fa-5x"></i></a>-->
<!--        <a class="icon-linkedin col-md-4 mx-2 text-dark"-->
<!--           href="https://www.linkedin.com/in/marlon-a-89715814b/" target="_blank"-->
<!--           rel="noreferrer noopener"><i class="fa-brands fa-linkedin fa-5x"></i></a>-->
<!--    </div>-->
<!--</footer>-->

<!--<footer class="footer text-center text-white bg-dark">-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->
<!--    <div class="container pt-4">-->
<!--        &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--        <section class="mb-4">-->
<!--            &lt;!&ndash; Google &ndash;&gt;-->
<!--            <a-->
<!--                    class="btn btn-link btn-floating btn-lg text-white m-1"-->
<!--                    href="mailto:mamedee001@gmail.com" target="_blank"-->
<!--                    role="button"-->
<!--                    data-mdb-ripple-color="dark"-->
<!--            ><i class="fab fa-google"></i-->
<!--            ></a>-->
<!--            &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--            <a-->
<!--                    class="btn btn-link btn-floating btn-lg text-white m-1"-->
<!--                    href="https://www.linkedin.com/in/marlon-a-89715814b/" target="_blank"-->
<!--                    role="button"-->
<!--                    data-mdb-ripple-color="dark"-->
<!--            ><i class="fab fa-linkedin"></i-->
<!--            ></a>-->
<!--            &lt;!&ndash; Github &ndash;&gt;-->
<!--            <a-->
<!--                    class="btn btn-link btn-floating btn-lg text-white m-1"-->
<!--                    href="https://github.com/marl-Am" target="_blank"-->
<!--                    role="button"-->
<!--                    data-mdb-ripple-color="dark"-->
<!--            ><i class="fab fa-github"></i-->
<!--            ></a>-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->

<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <hr/>-->
<!--    <div class="text-center text-white p-3">-->
<!--        © 2023 Copyright-->
<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--</footer>-->

<footer class="footer bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:mamedee001@gmail.com" target="_blank" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/marlon-a-89715814b/" target="_blank" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/marl-Am" target="_blank" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright
    </div>
    <!-- Copyright -->
</footer>